.post-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
}

.post-container-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: wheat;
}

.post-view-view {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 70px;
    gap: 40px;
    margin: 0px 220px;
    box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; ;
}


.top-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.following-buttons{
    display: flex;
}

.following-buttons button{
    background-color: black;
    color: white;
    width: 200px;
    padding: 15px;
}

.following-buttons button:hover{
    color: pink;
    font-size: 110%;
}

.like-dislike-buttons{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.like-dislike-buttons button{
    background-color: black;
    color: white;
    width: 140px;
    padding: 15px;
    border-radius: 15px;
}

.like-dislike-buttons button:hover{
    color: pink;
    font-size: 110%;


}

.liked {
    background-color: red;
    padding: 15px 32px;
}

.disliked {
    background-color: red;
    padding: 15px 32px;

}


.post-information{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-created-by{
    color: white;
}

.post-title{
    text-align: center;
    color: black;

}

.post-created-by{
    font-size: 10px;
}

.post-title{
    font-size: 20px;
}

.post-upper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 300px;
}


.post-upper .post-body{
    align-self: center;
    width: auto;
    padding: 24px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.post-upper textarea {

    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.post-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.post-buttons button{
    background-color: black;
    color: white;
}

.following-buttons {
    display: flex;
    gap: 20px;
}

.image-rendering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-view-buttons{
    margin-top: 80px;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;
}

.post-view-buttons:hover {
    opacity: 0.5;
}

.image-rendered-post-view{
    height: 600px;
    width: 700px;
}


.comments {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comments-add {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.comments-add button {
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;
    font-size: small;
    background-color: black;
    color: white;
}

.comments-add button:hover{
    opacity: 0.5;
}

.comments-add button {
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    width: 200px;
    align-self: center;
    font-weight: bold;
}

.comments-add textarea {
    resize: none;
    align-self: center;
    box-shadow: rgba(3, 3, 3, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}



.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.user-info-comment{
    font-size: 15px;
}

.image-text{
    display: flex;
    gap: 30px;
    align-items: center;
}

.profile-picture-comments{
    border-radius: 50%;
    height: 80px;
}

.comment-text{
    display: flex;
    margin-left: 110px;
    margin-top: -50px;
}